@page
@model MediaoManage.Pages.Medias.DeleteModel

@{
    ViewData["Title"] = "削除";
}
<div class="container">
    <h1>削除</h1>

    <h3>本当に削除しますか？</h3>
    <div>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.user_id)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.user_id)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.container_id)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.container_id)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_file_name)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_file_name)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_file_type)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_file_type)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_url)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_url)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_small_url)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_small_url)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_thumbnail_url)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_thumbnail_url)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_uploaded)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_uploaded)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_title)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_title)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_description)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_description)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_tags)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_tags)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.Tags)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.Tags)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.ProjectTags)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.ProjectTags)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_created)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_created)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_originaltags)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_originaltags)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_aitags)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_aitags)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_status)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_status)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_searchtext)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_searchtext)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_modified)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_modified)
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserMedia.media_deleted)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.UserMedia.media_deleted)
            </div>
        </div>
        <form method="post" class="m-3">
            <input type="hidden" asp-for="UserMedia.Id" />
            <input type="hidden" name="media_url" value="azure" />
            <input type="submit" value="Azure blobから" class="btn btn-danger" /> 
        </form>
        <form method="post" class="m-3">
            <input type="hidden" asp-for="UserMedia.Id" />
            <input type="hidden" name="media_url" value="table"/>
            <input type="submit" value="データベースから" class="btn btn-danger" />             
        </form>
        <a asp-page="./Index" class="m-3">リスト一覧へ</a>
    </div>    
</div>
